body {
  font-size: 0.875rem;
  font-family: 'Poppins', sans-serif;
  background-color: #f7f8fb;
}
p {
  line-height: 1.5;
  margin: 30px 0;
  a {
    text-decoration: underline;
  }
}

.dc-flex {
  display: flex;
}

input {
  &:focus {
    box-shadow: none !important;
    border-color: $c-utama2 !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
a, input, span, div, label, button {
  font-weight: 400;
  letter-spacing: 1.3px;
}

.item-produk {
  border-radius: 30px;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.13);
  >.item-img {
    width: 100%;
    height: 190px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    // object-fit: contain;
    object-fit: cover;
    margin-bottom: 15px;
  }
  >.card-body {
    padding: 16px 16px 0 16px !important;
    h5.produk-title {
      line-height: 25px;
      font-weight: 600;
      font-size: 15px;
      color: black;

      cursor: pointer;
      height: 50px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}

ul.star {
  li {
    &.list-inline-item:not(:last-child) {
      margin-right: .01rem;
    }
    i {
      font-size: 18px;
    }
    .org {
      color: rgb(255, 180, 0) !important;
    }
    .fas {
      color: rgb(220, 220, 220);
    }
  }
}
.rate {  
  .count{
    margin-left: 10px;
    color: black;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    top: 6px;
    >span {
      color: #A0A4A8 !important;
      font-weight: normal;
    }
  }
}

.shadow {
  box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
}

.btn-menus {
  transition: all 0.3s ease-in-out !important;
  background-size: 300% 100% !important;
  color: white;
  border-radius: 8px;
  // border: 1px solid #4e56f3;
  color: #4e56f3;
  min-width: 200px;
  &.active, &:hover {
    color: white;
    background-color: $c-utama !important;
    background-image: linear-gradient(to left, #13b8ea, #4e56f3, #4e56f3, #13b8ea) !important;
  }
  img {
    padding-top: 15px;
    display: block;
    margin: 0 auto;
    width: 50px;
  }

}

.btn-price {
  color: white;
  background-color: #4e56f3 !important;
  background-image: linear-gradient(to right, #13b8ea, #4e56f3, #4e56f3, #13b8ea) !important;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.btn-kategori {
  display: flex;
  background-color: #0b2558;
  color: white;
  border-radius: 8px;
  img {
    width: 20px;
    float: left;
    margin-right: 15px;
  }
}

.item-produk {
  .card-body {
    .btn-link {
      padding: 0px;
      font-size: 14px;
    }
    .slots {
      color: #a0a4a8!important;
      margin: 10px 0;
      font-weight: normal;
    }
  }
}

.filters {
  .list-menus {
    li {
      color: #357fef;
      border: 2px solid #fff;
      background-color: #fff;
      transition: all 500ms;
      background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, #357fef 50%, var(#357fef) 100%);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 90px 180px;
    }
  }
}

.dateandmap {
  .font-blog {
    color: white;
    font-weight: 400;
    font-size: 12px;
  }
}
.card-post {
  .card-body {
    background-color: #0b2558;
    .card-title {
      text-transform: none;
      font-weight: 600;
      margin-bottom: 10px;
      padding-top: 0;
      color: white;
      font-size: 15px;
    }
    .card-text {
      color: white;
    }
  }
}