body {
  font-size: 0.875rem;
  font-family: 'Open Sans', sans-serif;
  // background-color: #f7f8fb;
}
p {
  line-height: 1.5;
  margin: 30px 0;
  a {
    text-decoration: underline;
  }
}

.dc-flex {
  display: flex;
}

input {
  &:focus {
    box-shadow: none !important;
    border-color: $c-utama2 !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
a, input, span, div, label, button {
  font-weight: 400;
  // letter-spacing: 1.3px;
}

.item-produk {
  border-radius: 30px;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.13);
  >.item-img {
    width: 100%;
    height: 190px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    // object-fit: contain;
    object-fit: cover;
    margin-bottom: 15px;
    @media screen and(min-width: 426px) {
      border-radius: 8px;
    }
  }
  >.card-body {
    padding: 16px 16px 0 16px !important;
    h5.produk-title {
      line-height: 25px;
      font-weight: 800;
      font-size: 15px;
      color: black;
      cursor: pointer;
      height: 50px;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      font-size: 16px;
    }
  }
  @media screen and(min-width: 426px) {
    border-radius: 8px;
  }
}

ul.star {
  li {
    &.list-inline-item:not(:last-child) {
      margin-right: .01rem;
    }
    i {
      font-size: 18px;
    }
    .org {
      color: rgb(255, 180, 0) !important;
    }
    .fas {
      color: rgb(220, 220, 220);
    }
  }
}
.rate {  
  .count{
    margin-left: 10px;
    color: black;
    font-weight: 500;
    font-size: 13px;
    position: relative;
    top: 6px;
    >span {
      color: #A0A4A8 !important;
      font-weight: normal;
    }
  }
}

.shadow {
  box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
}

.btn-menus {
  transition: all 0.3s ease-in-out !important;
  background-size: 300% 100% !important;
  color: white;
  border-radius: 8px;
  color: white;
  background-color: $c-utama !important;
  // background-image: linear-gradient(to left, #13b8ea, #4e56f3, #4e56f3, #13b8ea) !important;
  width: 100%;
  min-height: 140px;
  &:hover {
    color: white;
    img {
      transform: scale(1.3);
    }
  }
  img {
    transition: transform .2s; /* Animation */
    padding-top: 15px;
    display: block;
    margin: 0 auto;
    width: 50px;
  }
}

.main-title {
  >h2 {
    font-weight: 600;
    color: $c-utama;
    margin-bottom: 0;
  }
}

.btn-price {
  color: white;
  background-color: #4e56f3 !important;
  background-image: linear-gradient(to right, #13b8ea, #4e56f3, #4e56f3, #13b8ea) !important;
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.btn-kategori {
  display: flex;
  background-color: transparent;
  color: $c-utama2;
  border: 1px solid $c-utama2;
  border-radius: 8px;
  font-size: 14px;
  img {
    width: 20px;
    float: left;
    margin-right: 15px;
  }
}

.item-produk {
  .card-body {
    .btn-link {
      padding: 0px;
      font-size: 14px;
    }
    .slots {
      color: #a0a4a8!important;
      margin: 10px 0;
      font-weight: normal;
    }
  }
}

.filters {
  .list-menus {
    li {
      color: #357fef;
      border: 2px solid #fff;
      background-color: #fff;
      transition: all 500ms;
      background-image: linear-gradient(to bottom, transparent 0%, transparent 50%, #357fef 50%, var(#357fef) 100%);
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: 90px 180px;
    }
  }
}

.dateandmap {
  color: white;
  .font-blog {
    color: white;
    font-weight: 400;
    font-size: 12px;
  }
}
.card-post {
  border-radius: 8px;
  .card-body {
    background-color: #0b2558;
    .card-title {
      text-transform: none;
      font-weight: 600;
      margin-bottom: 0px;
      padding-top: 0;
      color: white;
      font-size: 15px;
      display: -webkit-box;
      overflow: hidden;
      height: 35px;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
    .card-text {
      display: block;
      color: white;
      font-weight: 300;
      margin-top: 10px;
      margin-bottom: 25px;
    }
  }
}

.slick-slider {
  &:hover {
    >button {
      opacity: 1;
    }
  }
}

.slick-prev {
  left: -15px;
  &::before {
    content: "\f053";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 14px;
    position: relative;
    right: 2px;
    opacity: 1 !important;

  }
}
.slick-next {
  right: -15px;
  &::before {
    content: "\f054";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 14px;
    position: relative;
    left: 2px;
    opacity: 1 !important;
  }
}

.slick-prev, .slick-next {
  border-radius: 50%;
  box-shadow: rgba(49, 53, 59, 0.12) 0px 1px 6px 0px;
  border: 1px solid rgb(229, 231, 233);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  z-index: 2;
  transition: all 0.2s ease 0s;
  transform: translate(-32%, -50%);
  height: 40px;
  width: 40px;
  opacity: 0;
  &::before {
    color: $c-utama2 !important;
    z-index: 999;
  }
  &:focus, &:hover {
    background: white !important;
  }
}

.btn-semua {
  padding: 6px 18px;
  font-size: 12px;
  font-weight: 400;
  // color: #ed1c24;
  color: $c-utama2;
  border-radius: 15px;
  text-decoration: none!important;
  background-color: #f6f6f6;
  border: 1px solid #ced4da;
}

.btn-produk {
  background-image: linear-gradient(to right, #1f357d, #04185b, #04185b, #1f357d);
  background-size: 300% 100%;
  border: transparent;
  position: relative;
  background-color: #04185b;
  border-radius: 12px;
  margin-bottom: 15px;
  margin: 0 auto;
  color: white;
  display: block;
  margin-bottom: 20px;
  font-weight: 600;
  &:hover, &:focus {
    transition: all 0.4s ease-in-out;
    color: #fff !important;
    background-position: 100% 0;
  }
}

.btn-readmore {
  color: white;
  border-radius: 18px;
  border: 2px solid white;
  font-size: 14px;
  padding: 8px 20px;
  transition: 0.5s;
  display: inline-block;
  &:hover {
    color: $c-utama;
    background-color: white;
    text-decoration: none;
  }
}

.blog-bg {
  background-color: #fafafa;
}