section.navigation {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.12);
    background-color: #FFFFFF;
    .nav-top {
        background-color: #f3f4f5;
        color: $c-navtop;
        border-bottom: 1px solid #f3f3f3;
        font-size: 12px;
        
    }
    .ul-auth li {
        &:not(:last-child) {
            border-right: solid 1px #d8d8d8;
            padding-right: .6rem;
        }
        a {
            font-size: 12px;
            color: $c-navtop;
            font-weight: 300;
            &:hover {
                color: $c-utama2;
                text-decoration: none;
            }
        }
    }
    .ul-medsos {
        line-height: 0px;
        li {
            line-height: 0px;
            a{
                i {
                    color: $c-navtop;
                    font-size: 18px;
                }
                &:hover {
                    i {
                        color: $c-utama2;
                    }
                }
            }
        }
    }
    .list-icon-header li a{
        margin: 0 10px;
        color: $icon;
        font-size: 20px;
    }
}

.form-mobile {
    width: 15%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    float: right;
    >input {
        border-radius: 14px;
        border-right-color: transparent;
        border-color: transparent;
        padding-right: 35px;
        font-size: 14px;
        height: 38px;
        &:focus {
            box-shadow: none;
            border-color: $c-utama2 !important;
        }
    }
    >.input-group-append {
        position: absolute;
        top: 0px;
        height: 38px;
        right: 0;
        border-color: transparent;
        span{
            border-radius: 14px;
            border: none;
            background-color: white;
        }
    }

    // border-right
    &.input-group>.custom-select:not(:last-child), &.input-group>.form-control:not(:last-child) {
        border-radius: 14px;
    }
}

.w-78 {
    width: 65% !important;
    input {
        border-color: #ced4da !important;
        border-right-color: #ced4da;
    }
    >.input-group-append {
        span {
            background-color: transparent;
            z-index: 99;
        }
    }
}

.mobile {
    > .list-icon-header li a{
        margin: 0 5px !important;
        font-size: 12px !important;
    }
}

.form-search-header {
    display: flex;
    width: 100%;
    .input-icon{
        display: flex;
        position: relative;
        >input {
            border-radius: 12px;
            padding-left: 40px;
            font-weight: 400;
            font-size: 14px;
            height: 40px;
        }
        i {
            position: absolute;
            left: 15px;
            top: 14px;
            background-color: white;
            color: $c-utama;
        }
    }
    >button {
        width: 130px;
        border-radius: 18px;
        background-color: $c-utama;
        border: none;
        letter-spacing: 1.5px;
    }
}

.icon-shoping {
    position: relative;
    .count-badge {
        position: absolute;
        top: -8px;
        right: -12px;
        padding: 0 5px;
        border: 1px solid #fff;
        border-radius: 100%;
        background: $c-utama2;
        color: #fff;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
    }
}

.navbar-nav {
    max-width: 160px;
}

.icon-kategori {
    position: absolute;
    left: -20px;
    top: 3px;
    i {
        font-size: 20px;
    }
}

.kategori-pilihan {
    border-radius: 8px;
}

.carousel-item {
    img {
        border-radius: 8px;
        object-fit: cover;
        min-height: 400px;
    }
    @media screen and(max-width:425px) {
        img {
            object-fit: fill;
            min-height: 200px;
        }
    }
}

.carousel-indicators {
    justify-content: left;
    margin-right: 10%;
    margin-left: 10%;
    li {
        width: 12px;
        height: 12px;
        border-radius: 12px;
        opacity: 1 !important;
        transition: all .3s ease;
        &.active {
            background-color: $c-utama2;
            width: 20px;
        }
    }
}

.carousel-control-prev {
    left: -5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}
.carousel-control-next {
    right: -5px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.carousel-control-next, .carousel-control-prev {
    opacity: 1;
    width: 30px;
    height: 60px;
    top: 40%;
    background-color: white;
    box-shadow: 0 2px 3px 0 hsla(0,0%,60%,.3);
    &:hover {
        opacity: 1;
    }
    img {
        max-width: 25px;
    }
}