// Variables

$font-size-base: .875rem !important;
$c-navtop : #616b76;
$c-utama : #0b2558;
$c-utama2 : #2ba3e2;
$icon : #6C727C;


@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width: 1270px;
    }
  }
